@media (-moz-proton) {
  :root {
    /* Panel */
    --arrowpanel-menuicon-padding: 8px;
    --arrowpanel-menuitem-margin: 0 var(--arrowpanel-menuicon-padding) !important; /* Original: 0 8px */
    --arrowpanel-menuitem-padding: 5px !important; /* Original: 8px */
    --arrowpanel-padding:        0.8em !important; /* Original: 16px or .cui-widget-panel, .cui-widget-panel::part(arrowcontent) => 4px 0 */
  }

  :root {
    /* Tool Bar */
    --toolbarbutton-outer-padding: 2px !important; /* Original: 3px, General is 2px */

  :root [uidensity=normal] .toolbar-items, .tabbrowser-tab {
    max-height: 38px;
  }
  :root[uidensity=normal] .toolbar-items, .tabbrowser-tab {
    max-height: 36px;
  }
  :root[uidensity=touch] .toolbar-items, .tabbrowser-tab {
    max-height: unset;
  }

  :root:not([uidensity=touch]) #tabbrowser-arrowscrollbox {
    --scrollbtn-vertical-padding: 3px;
  }
  #scrollbutton-up,
  #scrollbutton-down {
    /* Original: var(--toolbarbutton-inner-padding) calc(var(--toolbarbutton-inner-padding) - 6px) = 9px */
    /* https://github.com/mozilla/gecko-dev/blob/71b1259afd1cdaf41871ae675c2dadb967ea5b34/browser/themes/shared/toolbarbuttons.inc.css#L142 */
    padding-top:    var(--scrollbtn-vertical-padding, var(--toolbarbutton-inner-padding)) !important;
    padding-bottom: var(--scrollbtn-vertical-padding, var(--toolbarbutton-inner-padding)) !important;
  }

    /* Icon */
    list-style-image: url(chrome://global/skin/media/picture-in-picture-open.svg);
  }
  .tab-icon-sound[pictureinpicture]:not([pinned])[selected] {
    opacity: 0.95;
  }

  /** Menu - Reduce Padding ***************************************************/
  :root:not([uidensity=touch]) menupopup > menuitem, menupopup > menu {
    padding-block: 0.35em !important; /* Original: 0.5em */
  }
  :root:not([uidensity=touch]) .menu-text, .menu-iconic-text {
    padding-inline-end: 0 !important; /* Original: 2px */
  }
  :root:not([uidensity=touch]) .menupopup-arrowscrollbox {
    padding-block: 1px !important;    /* Original: 4px*/
  }
  :root:not([uidensity=touch]) #context-navigation:not([hidden]) {
    padding: 0 0 1px !important;      /* Original: 0 0 4px*/
  }
  :root:not([uidensity=touch]) .menu-right {
    margin-right: 6px !important;     /* Original: 12px */
  }

  :root[uidensity=compact] menupopup > menuitem, menupopup > menu {
    padding-block: 0.25em !important; /* Original: 0.5em */
  }

  /** Panel - Icons ***********************************************************/
  /* Padding */
  :root {
    --arrowpanel-menublank-padding: calc(var(--arrowpanel-menuicon-padding) * 2 + 8px) !important;
    --arrowpanel-menuimageblank-padding: calc(var(--arrowpanel-menuitem-padding) - 2px) !important;
  }

  #downloadsHistory .button-text,
  .subviewbutton > .toolbarbutton-text {
    padding-inline-start: var(--arrowpanel-menuicon-padding) !important;
  }
  #panelMenu_bookmarksMenu .subviewbutton[disabled=true] .toolbarbutton-text,
  #appMenu_historyMenu     .subviewbutton[disabled=true] .toolbarbutton-text {
    padding-inline-start: var(--arrowpanel-menublank-padding) !important;
  }
  #appMenu-proton-update-banner .toolbarbutton-text {
    margin-inline-start: 0 !important;
  }

  #appMenu-multiView .subviewbutton::before,
  #appMenu-proton-update-banner::before {
    display: -moz-inline-box;
    margin-inline-end: var(--arrowpanel-menuicon-padding);
    width:  16px !important;
    height: 16px !important;
  }
  #appMenu-proton-update-banner {
    margin-bottom: 2px !important;
  }
  #appMenu-proton-update-banner::before {
    margin-inline-start: var(--arrowpanel-menuitem-padding) !important;
  }
  #appMenu-fxa-status2,
  #appMenu-zoom-controls2 {
    align-items: center;
    padding-top:    var(--arrowpanel-menuimageblank-padding) !important;
    padding-bottom: var(--arrowpanel-menuimageblank-padding) !important;
  }
  #appMenu-zoom-controls2::before {
    margin-inline-end: 0 !important;
  }

  /* Icons Color */
  #appMenu-multiView .subviewbutton::before,
  #appMenu-proton-update-banner::before,
  #downloadsHistory .button-icon,
  .subviewbutton > image {
    fill: currentColor !important;
    fill-opacity: var(--toolbarbutton-icon-fill-opacity) !important;
    -moz-context-properties: fill !important;
  }

  /* Panel - Main */
  #appMenu-proton-addon-banners > .addon-banner-item > .toolbarbutton-icon {
    display: -moz-inline-box !important;
    margin-inline-start: var(--arrowpanel-menuicon-padding);
    -moz-box-ordinal-group: 0 !important;
  }

  #appMenu-proton-update-banner::before {
    content: url(chrome://browser/skin/whatsnew.svg);
  }
  #appMenu-fxa-status2::before { /* Don't exist img tag */
    content: url(chrome://browser/skin/fxa/avatar-empty.svg);
  }
  #appMenu-fxa-status2[fxastatus=signedin]::before { /* Don't exist img tag */
    display: none;
  }
  #appMenu-fxa-status2[fxastatus=signedin] #appMenu-fxa-label2::before {
    /* url("https://profile.accounts.firefox.com/v1/avatar/a") */
    content: '';
    border-radius: 50% !important;
    background-size: 16px !important;
    background-image: var(--avatar-image-url) !important;
  }

  #appMenu-new-tab-button2 {
    list-style-image: url(chrome://browser/skin/new-tab.svg);
  }
  #appMenu-new-window-button2 {
    list-style-image: url(chrome://browser/skin/window.svg);
  }
  #appMenu-new-private-window-button2 {
    list-style-image: url(chrome://browser/skin/privateBrowsing.svg);
  }

  #appMenu-bookmarks-button{
    list-style-image: url(chrome://browser/skin/bookmark.svg);
  }
  #appMenu-history-button {
    list-style-image: url(chrome://browser/skin/history.svg);
  }
  #appMenu-downloads-button {
    list-style-image: url(chrome://browser/skin/downloads/downloads.svg);
  }
  #appMenu-passwords-button {
    list-style-image: url(chrome://browser/skin/login.svg);
  }
  #appMenu-extensions-themes-button {
    list-style-image: url(chrome://mozapps/skin/extensions/extension.svg);
  }

  #appMenu-print-button2 {
    list-style-image: url(chrome://global/skin/icons/print.svg);
  }
  #appMenu-save-file-button2 {
    list-style-image: url(chrome://browser/skin/save.svg);
  }
  #appMenu-find-button2 {
    list-style-image: url(chrome://global/skin/icons/search-glass.svg);
  }
  #appMenu-zoom-controls2::before {
    content: url(./icons/screenshot.svg);
  }

  #appMenu-settings-button {
    list-style-image: url(chrome://global/skin/icons/settings.svg);
  }
  #appMenu-more-button2 {
    list-style-image: url(chrome://browser/skin/ion.svg);
  }
  #appMenu-help-button2 {
    list-style-image: url(chrome://global/skin/icons/help.svg);
  }

  #appMenu-quit-button2 {
    list-style-image: url(chrome://browser/skin/quit.svg);
  }

  /* Panel - Account */
  #PanelUI-fxa-menu-connect-device-button  .toolbarbutton-icon,
  #PanelUI-fxa-menu-account-signout-button .toolbarbutton-icon {
    width:  16px !important;
    height: 16px !important;
  }

  /* Default */
  #fxa-menu-avatar {
    display: -moz-inline-box !important;
    margin-inline-end: var(--arrowpanel-menuitem-padding);
  }

  .syncNowBtn {
    visibility: visible !important;
    -moz-box-ordinal-group: 1 !important;
    margin-inline-end: var(--arrowpanel-menuicon-padding);
  }
  #PanelUI-fxa-menu-setup-sync-button {
    list-style-image: url(chrome://browser/skin/sync.svg);
  }

  #PanelUI-fxa-menu-connect-device-button {
    list-style-image: url(chrome://browser/skin/fxa/add-device.svg);
  }
  #PanelUI-fxa-menu-sendtab-button {
    list-style-image: url(chrome://browser/skin/send-to-device.svg);
  }
  #PanelUI-fxa-menu-sync-prefs-button,
  #PanelUI-remotetabs-view-managedevices {
    list-style-image: url(chrome://global/skin/icons/settings.svg);
  }
  #PanelUI-fxa-menu-account-signout-button {
    list-style-image: url(chrome://browser/skin/sign-out.svg);
  }

  .PanelUI-remotetabs-notabsforclient-label {
    margin-inline-start: calc(var(--arrowpanel-menuicon-padding) + var(--arrowpanel-menuitem-padding)) !important;
    padding-inline-start: var(--arrowpanel-menublank-padding) !important;
  }

  /* Change Separator */
  #PanelUI-fxa-menu::before{
    content: "";
    display: -moz-box;
    border-bottom: 1px solid var(--panel-separator-color);
    margin: var(--panel-separator-margin);
    padding: 0;
  }
  #PanelUI-fxa-menu > :first-child{
    -moz-box-ordinal-group: 0;
  }
  #PanelUI-sign-out-separator {
    display: none;
  }
  .pageAction-sendToDevice-device.subviewbutton.sync-menuitem.sendtab-target[clientType=""] {
    list-style-image: url(chrome://browser/skin/send-to-device.svg);
  }
  .pageAction-sendToDevice-device.subviewbutton.sync-menuitem.sendtab-target:not([clientType]) {
    list-style-image: url(chrome://global/skin/icons/settings.svg);
  }

  /* Panel - Bookmark */
  #panelMenuBookmarkThisPage {
    list-style-image: url(chrome://browser/skin/bookmark-hollow.svg);
  }
  panelMenuBookmarkThisPage[starred] {
    list-style-image: url(chrome://browser/skin/bookmark.svg);
  }

  #panelMenu_searchBookmarks {
    list-style-image: url(chrome://global/skin/icons/search-glass.svg);
  }
  #panelMenu_viewBookmarksToolbar {
    list-style-image: url(chrome://browser/skin/bookmarks-toolbar.svg);
  }

  #panelMenu_showAllBookmarks {
    list-style-image: url(chrome://browser/skin/bookmark-star-on-tray.svg);
  }

  /* Panel - History */
  #appMenuRecentlyClosedTabs {
    list-style-image: url(chrome://browser/skin/tab.svg);
  }
  #appMenuRecentlyClosedWindows {
    list-style-image: url(chrome://browser/skin/window.svg);
  }
  #appMenuRestoreSession {
    list-style-image: url(chrome://browser/skin/restore-session.svg);
  }
  #appMenuClearRecentHistory {
    list-style-image: url(chrome://browser/skin/forget.svg);
  }

  #PanelUI-historyMore {
    list-style-image: url(chrome://browser/skin/history.svg);
  }

  #appMenu-library-recentlyClosedTabs {
    list-style-image: url(./icons/movetowindow-16.svg);
  }
  #appMenu-library-recentlyClosedWindows {
    list-style-image: url(chrome://browser/skin/restore-session.svg);
  }

  /* Panel - More tools */
  #appmenu-moreTools-button {
    list-style-image: url(chrome://browser/skin/customize.svg);
  }

  #appmenu-developer-tools-view  .subviewbutton:nth-child(1) {  /* Web Developer Tools */
    list-style-image: url(chrome://browser/skin/developer.svg);
  }
  #appmenu-developer-tools-view  .subviewbutton:nth-child(2) {  /* Task Manager */
    list-style-image: url(./icons/performance.svg);
  }
  #appmenu-developer-tools-view  .subviewbutton:nth-child(3) {  /* Remote Debugging - Edge bug.svg */
    list-style-image: url(./icons/bug.svg);
  }
  #appmenu-developer-tools-view  .subviewbutton:nth-child(4) {  /* Browser Toolbox - Edge webdeveloper.svg */
    list-style-image: url(./icons/webdeveloper.svg);
  }
  #appmenu-developer-tools-view  .subviewbutton:nth-child(5) {  /* Browser Content Toolbaox -  */
    list-style-image: url(./icons/command-frames.svg);
  }
  #appmenu-developer-tools-view  .subviewbutton:nth-last-child(5) {  /* Browser Console */
    list-style-image: url(chrome://devtools/skin/images/command-console.svg);
  }
  #appmenu-developer-tools-view  .subviewbutton:nth-last-child(4) {  /* Responsive Design Mode */
    list-style-image: url(./icons/command-responsivemode.svg);
  }
  #appmenu-developer-tools-view  .subviewbutton:nth-last-child(3) {  /* Eyedropper */
    list-style-image: url(chrome://devtools/skin/images/command-eyedropper.svg);
  }
  #appmenu-developer-tools-view  .subviewbutton:nth-last-child(2) {  /* Page Source - Edge file-search.svg */
    list-style-image: url(./icons/search-file.svg);
  }
  #appmenu-developer-tools-view  .subviewbutton:nth-last-child(1) { /* Extensions for Devel */
    list-style-image: url(chrome://devtools/skin/images/debugging-addons.svg);
  }
  #appmenu-developer-tools-view .subviewbutton:last-child {
    margin-bottom: 6px !important;
  }

  /* Panel - Help */
  #appMenu_menu_openHelp {
    list-style-image: url(chrome://global/skin/icons/help.svg);
  }
  #appMenu_feedbackPage {
    list-style-image: url(./icons/send.svg);
  }
  #appMenu_helpSafeMode {
    list-style-image: url(chrome://devtools/skin/images/debugging-workers.svg);
  }
  #appMenu_troubleShooting {
    list-style-image: url(chrome://global/skin/icons/more.svg);
  }
  #appMenu_help_reportSiteIssue {
    list-style-image: url(chrome://global/skin/icons/lightbulb.svg);
  }
  #appMenu_menu_HelpPopup_reportPhishingtoolmenu {
    list-style-image: url(chrome://global/skin/icons/warning.svg);
  }
  #appMenu_aboutName{
    list-style-image: url(chrome://global/skin/icons/info.svg);
  }

  /* Panel - Library */
  #appMenu-library-bookmarks-button {
    list-style-image: url(chrome://browser/skin/bookmark.svg);
  }
  #appMenu-library-history-button {
    list-style-image: url(chrome://browser/skin/history.svg);
  }
  #appMenu-library-downloads-button{
    list-style-image: url(chrome://browser/skin/downloads/downloads.svg);
  }

  /* Panel - Downloads */
  #downloadsHistory {
    list-style-image: url(chrome://browser/skin/downloads/downloads.svg);
  }

  /* Toolbar - Overflow Menu */
  #overflowMenu-customize-button {
    list-style-image: url(chrome://browser/skin/customize.svg);
  }

  /* All Tab Menu */
  #allTabsMenu-undoCloseTab {
    list-style-image: url(chrome://global/skin/icons/undo.svg);
  }
  #allTabsMenu-searchTabs {
    list-style-image: url(chrome://global/skin/icons/search-glass.svg);
  }
  #allTabsMenu-containerTabsButton {
    list-style-image: url(./icons/container-openin-16.svg);
  }

  #allTabsMenu-hiddenTabsButton {
    list-style-image: url(./icons/password-hide.svg);
  }

  #allTabsMenu-containerTabsView .subviewbutton:last-child {
    list-style-image: url(chrome://global/skin/icons/settings.svg);
  }

  /* Remove WebRTC Indicator */
  #webrtcIndicator { display: none }
}
